.mainWrap {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: var(--image-gradient), url(../../assets/home/home-grain-bg.png);
}

.loginPanel {
    display: flex;
    align-items: center;
    color: white;
    width: 600px;
    height: 350px;
    background: #686775;
    padding: 20px 45px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.loginPanel:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
}

.formItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 2px solid #edc75d;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    overflow: hidden;
    width: 100%;
}

.loginPanel p {
    cursor: pointer;
    color: rgb(78, 209, 165);
}

.login {
    line-height: 40px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    background: #edc75d;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.login:hover {
    background: #cead51;
}

input {
    width: 100%;
    outline: none;
    padding-left: 20px;
    height: 40px;
    border: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

input:focus {
    color: white;
    background: #686775;
}

.opened {
    justify-content: space-around;
    width: 470px;
    height: 430px;
}

.opened .logWrap {
    display: none;
}